.inner {
  scale: 3;
  animation: spinner 29000s infinite linear;
}
.inner2 {
  animation: spinner 29000s infinite linear reverse;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(2424252deg);
  }
}
